/* style.css for timesheet by Julien Pecqueur */
body {
    font: 20px Helvetica, sans-serif;
    color: #333;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    min-width: 400px;
}

a {
    color: #dc8100;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

#menubar {
}

#menubar h1 {
    float: left;
}

#menubar p {
    float: right;
}

#page {
    clear: both;
}

#page form {
    width: 100%;
    text-align: center;
}

#page form select {
    font: 20px Helvetica, sans-serif;
    margin: 1% auto;
}

#page form#ts-month select {
    width:100%;
}


#page form input {
    font: 20px Helvetica, sans-serif;
    margin: 1% auto;
}

#page table {
    width: 100%;
    margin: 1% auto;
}

#page table th {
    background-color: #dc8100;
    padding-left: 2%;
    padding-right: 2%;
}

#page table td.days {
    width: 0.1%;
}

#page table td.tools {
    width: 0.1%;
}

#page table td.tools form {
}

#page table td.tools form input {
    margin: 1%;
    float: left;
    width: 30px;
    height: 30px;
}

#footer p {
    margin-top: 5%;
    font-size: small;
    text-align: center;
}
